body{
  font-family: 'Poppins', sans-serif;
}
small img{
  height: 30px;
  width: 30px;
  margin-top: -6px;
}

footer{
  background-color: #282531;
  color: whitesmoke;
}

.larger-font{
  font-weight: bold;
  font-size: 3rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.logo{
  width: 200px;
  height: auto;
}

.bg-light-green{
  background-color: #F0FFF0;
}

.carousel-item{
  padding: 20px 30px;
}

.text-green{
  color: #21B573;
}

.btn-green{
  text-decoration: none;
  padding: 8px 20px;
  background-color: #21B573;
  color: white;
  border-radius: 35px;
}

.btn-green:hover{
  text-decoration: none;
  color: white;
}

.gap-between{
  padding-top: 50px;
}

.card-banner{
  border: none;
  padding: 20px;
  background-color: #F8FFFB;
  border-radius: 10px;
}

.card-banner:hover{
  background-color: white;
  box-shadow: 7px 7px 14px lightgrey;
}

.card-img-custom{
  height: 100px;
  width: auto;
  padding: 20px;
  margin: auto;
}

.card{
  border: none;
  box-shadow: 3px 3px 15px lightgrey;
}

.card-footer{
  background-color: white;
  border-top: none;
  padding-right: 30px;
  margin: 0;
}
